# backend
*.log
*.pot
*.pyc
__pycache__/
.vscode
venv_token
local_settings.py
db.sqlite3
media
data

.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store